<html>
    <head>
        <title>Node Test</title>
    </head>
    <body>
        <h2>Node Test</h2>
        <p>This is a nodejs Testing Page</p>
        <p id='message-1'></p>
        <button>GDAL</button>
        <script src = '../js/main.js'></script>
        <input id='file' type='file'>
    </body>
</html>